.landinghead {
    background-color: black;
    color: white;
    width: 100vw !important;
    height: 50vh;
}

.landinghead span {
    color: #FB9D00; 
}

.landingbody {
    width: 100vw !important;
    height: 40vh;
}

.landingbuttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the buttons horizontally */
    justify-content: center; /* Centers the buttons vertically */
    margin-top: 8rem;
    text-align: center;
}

/* Button Styles */
.landing-btn {
    background-color: white;
    border-color: #FB9D00;
    border-radius: 5rem;
    border-style: solid;
    width: 20rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem; /* Adds space between buttons */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.landing-btn:hover {
    background-color: #F6F6F6;
    color: #FB9D00;
    border-color: white;
}

@media (max-width: 768px) {
    .landing-btn {
        width: 90%;
    }

    .landingbuttons {
        margin-top: 4rem; 
    }
}
